* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

div {
  width: 100%;
  margin: 20px;
}

div li {
  display: flex;
  align-items: center;
}

div li + li {
  margin-top: 15px;
}

button {
  background: #64c159;
  color: #fff;
  border: 0;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  transition: filter 0.2s;
}

div li button {
  margin: 0 15px;
  background: #dc5555e0;
}

span {
  font-weight: 700;
  margin-top: 16px;
  text-align: center;
  text-decoration: none;
  font-size: 40px;
}